/* 
 * SERTONE REST API
 *
 * This is the SERTONE REST API server for the  Sertone IOT Developers.  You can find out more about IOT at [http://www.sertone.com](http://www.sertone.com) or about the API on [API Reference](http://dev.sertone.com/public-rest-api).
 *
 * OpenAPI spec version: 0.0.1
 * Contact: email@sertone.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package swagger

import (
	"strings"
	"fmt"
	"errors"
	"net/url"
	"encoding/json"
)

type DataApi struct {
	Configuration Configuration
}

func NewDataApi() *DataApi {
	configuration := NewConfiguration()
	return &DataApi{
		Configuration: *configuration,
	}
}

func NewDataApiWithBasePath(basePath string) *DataApi {
	configuration := NewConfiguration()
	configuration.BasePath = basePath

	return &DataApi{
		Configuration: *configuration,
	}
}

/**
 * getAppDevDataPayload() - Gets payload data of given application and device.
 * This can only be done by the logged in users.
 *
 * @param appEui The appEui where payload will be retrieved
 * @param devEui The devEui where payload will be retrieved
 * @return []DataPayload
 */
func (a DataApi) GetAppDevDataPayload(appEui string, devEui string) ([]DataPayload, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/data/{appEui}/nodes/{devEui}"
	path = strings.Replace(path, "{"+"appEui"+"}", fmt.Sprintf("%v", appEui), -1)
	path = strings.Replace(path, "{"+"devEui"+"}", fmt.Sprintf("%v", devEui), -1)

	// verify the required parameter 'appEui' is set
	if &appEui == nil {
		return new([]DataPayload), nil, errors.New("Missing required parameter 'appEui' when calling DataApi->GetAppDevDataPayload")
	}
	// verify the required parameter 'devEui' is set
	if &devEui == nil {
		return new([]DataPayload), nil, errors.New("Missing required parameter 'devEui' when calling DataApi->GetAppDevDataPayload")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (server_token) required

	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// authentication (client_id) required

	// set key with prefix in header
	headerParams["ClientID"] = a.Configuration.GetAPIKeyWithPrefix("ClientID")

	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/xml", "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/xml",
"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new([]DataPayload)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return *successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return *successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * getAppDevLastDataTimestamp() - Gets last data timestamp for a given application and device.
 * This can only be done by the logged in users.
 *
 * @param appEui The appEui whom to get last timestamp
 * @param devEui The devEui whom to get last timestamp
 * @return *string
 */
func (a DataApi) GetAppDevLastDataTimestamp(appEui string, devEui string) (*string, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/data/{appEui}/nodes/{devEui}/timestamp"
	path = strings.Replace(path, "{"+"appEui"+"}", fmt.Sprintf("%v", appEui), -1)
	path = strings.Replace(path, "{"+"devEui"+"}", fmt.Sprintf("%v", devEui), -1)

	// verify the required parameter 'appEui' is set
	if &appEui == nil {
		return new(string), nil, errors.New("Missing required parameter 'appEui' when calling DataApi->GetAppDevLastDataTimestamp")
	}
	// verify the required parameter 'devEui' is set
	if &devEui == nil {
		return new(string), nil, errors.New("Missing required parameter 'devEui' when calling DataApi->GetAppDevLastDataTimestamp")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (server_token) required

	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// authentication (client_id) required

	// set key with prefix in header
	headerParams["ClientID"] = a.Configuration.GetAPIKeyWithPrefix("ClientID")

	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/xml", "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/xml",
"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(string)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * getAppDevLatestCounter() - Gets the latest counter for a given application and device.
 * This can only be done by the logged in users.
 *
 * @param appEui The appEui whom to get last timestamp
 * @param devEui The devEui whom to get last timestamp
 * @return *int64
 */
func (a DataApi) GetAppDevLatestCounter(appEui string, devEui string) (*int64, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/data/{appEui}/nodes/{devEui}/count"
	path = strings.Replace(path, "{"+"appEui"+"}", fmt.Sprintf("%v", appEui), -1)
	path = strings.Replace(path, "{"+"devEui"+"}", fmt.Sprintf("%v", devEui), -1)

	// verify the required parameter 'appEui' is set
	if &appEui == nil {
		return new(int64), nil, errors.New("Missing required parameter 'appEui' when calling DataApi->GetAppDevLatestCounter")
	}
	// verify the required parameter 'devEui' is set
	if &devEui == nil {
		return new(int64), nil, errors.New("Missing required parameter 'devEui' when calling DataApi->GetAppDevLatestCounter")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (server_token) required

	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// authentication (client_id) required

	// set key with prefix in header
	headerParams["ClientID"] = a.Configuration.GetAPIKeyWithPrefix("ClientID")

	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/xml", "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/xml",
"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(int64)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * getAppLastDataMethod() - Gets last data delivery method for a given application.
 * This can only be done by the logged in users.
 *
 * @param appEui The appEui whom to get last timestamp
 * @return *string
 */
func (a DataApi) GetAppLastDataMethod(appEui string) (*string, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/data/{appEui}/method"
	path = strings.Replace(path, "{"+"appEui"+"}", fmt.Sprintf("%v", appEui), -1)

	// verify the required parameter 'appEui' is set
	if &appEui == nil {
		return new(string), nil, errors.New("Missing required parameter 'appEui' when calling DataApi->GetAppLastDataMethod")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (server_token) required

	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// authentication (client_id) required

	// set key with prefix in header
	headerParams["ClientID"] = a.Configuration.GetAPIKeyWithPrefix("ClientID")

	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/xml", "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/xml",
"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(string)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * getAppLastDataTimestamp() - Gets last data timestamp for a given application.
 * This can only be done by the logged in users.
 *
 * @param appEui The appEui whom to get last timestamp
 * @return *string
 */
func (a DataApi) GetAppLastDataTimestamp(appEui string) (*string, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/data/{appEui}/timestamp"
	path = strings.Replace(path, "{"+"appEui"+"}", fmt.Sprintf("%v", appEui), -1)

	// verify the required parameter 'appEui' is set
	if &appEui == nil {
		return new(string), nil, errors.New("Missing required parameter 'appEui' when calling DataApi->GetAppLastDataTimestamp")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (server_token) required

	// set key with prefix in header
	headerParams["Authorization"] = a.Configuration.GetAPIKeyWithPrefix("Authorization")
	// authentication (client_id) required

	// set key with prefix in header
	headerParams["ClientID"] = a.Configuration.GetAPIKeyWithPrefix("ClientID")

	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{ "application/xml", "application/json",  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/xml",
"application/json",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(string)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

