//
// SystemAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



public class SystemAPI: APIBase {
    /**
     getSystemHealthz() - Gets status health of the api server
     
     - parameter completion: completion handler to receive the data and the error objects
     */
    public class func getSystemHealthz(completion: ((data: String?, error: ErrorType?) -> Void)) {
        getSystemHealthzWithRequestBuilder().execute { (response, error) -> Void in
            completion(data: response?.body, error: error);
        }
    }


    /**
     getSystemHealthz() - Gets status health of the api server
     - GET /system/healthz
     - This can be used for monitoring purposes.
     - examples: [{contentType=application/xml, example=string}, {contentType=application/json, example="aeiou"}]
     - examples: [{contentType=application/xml, example=string}, {contentType=application/json, example="aeiou"}]

     - returns: RequestBuilder<String> 
     */
    public class func getSystemHealthzWithRequestBuilder() -> RequestBuilder<String> {
        let path = "/system/healthz"
        let URLString = SwaggerClientAPI.basePath + path

        let nillableParameters: [String:AnyObject?] = [:]
 
        let parameters = APIHelper.rejectNil(nillableParameters)
 
        let convertedParameters = APIHelper.convertBoolToString(parameters)
 
        let requestBuilder: RequestBuilder<String>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: URLString, parameters: convertedParameters, isBody: true)
    }

}
